<div class="ui middle aligned center aligned grid" style="height: 100vh;">
    <div class="column">
        <div class="ui raised very padded text container segment">
            <h1 class="ui icon header">
                <i class="exclamation triangle icon"></i>
                404 - Página não encontrada
            </h1>
            <p>Desculpe, mas a página que você está procurando não existe ou foi movida.</p>
            <div class="ui divider"></div>
            <button class="ui primary button" (click)="goHome()">
                Voltar para a Página Inicial
            </button>
        </div>
    </div>
</div>